# Server Settings
PORT=8000
HOST=0.0.0.0
ENV=development

# Database Settings
DATABASE_URL=postgresql://charity_user:charity_secure_pass_123@localhost:5432/charity_db

# Security
SECRET_KEY=supersecretjwtkeysecret12345!@#$
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
